@import "tailwindcss";

:root {
  --background: #26262B;
  --foreground: hsl(0, 0%, 100%);
  --logo-color: #E6C3A5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: var(--logo-color);
  --color-sticker-peach: #F6C098;
  --color-sticker-blue: #9CD5F1;
  --color-sticker-pink: #E598B8;
  --color-sticker-orange: #FAB282;
  --color-sticker-mint: #E1EFEA;
  --color-sticker-purple: #C894E2;
}
/* UTILITIES FOR STICKERS ANIMATIONS */
@keyframes float {
  0% { transform: translateY(0px) rotate(var(--tw-rotate)); }
  50% { transform: translateY(-10px) rotate(var(--tw-rotate)); }
  100% { transform: translateY(0px) rotate(var(--tw-rotate)); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.main-text {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;

  @media (min-width: 768px) {
    font-size: 74px;
    line-height: 67.84px;
  }
}


